
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="audonic">
        <title>Audonic</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
        <link rel="stylesheet" href="css/main.css"/>
        

      
    </head>
    <body>
            <section1>
      <div class="container-fluid" style="background-image: url('image/bgimage.png'); width: 100%; height: 700px;">
        <div class="row">
          <div class="col-md-6">
        <nav class="navbar navbar-expand-sm ">
            <a class="navbar-brand" href="#">
              <img class="pic" src="image/audonic.png">
            </a>
          </div>
          <div class="col-md-6">
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
            
            </div>
         
          </nav>
          </div>
         <div class="text1">
            <h1>WELCOME TO</h1>
              <h2>Audonic Songs Downloader</h2>
          </div>
          <!-- <div class="search">
          
            <h5 class="audo">Audonic Song URL/Link:</h5>
            <input class="mono" type="url" placeholder=  "   ENTER YOUR URL... " name="enter your url">
            <p class="audo">Click on download.</p>
           
              <div class="row gradient"><a class="btn btn-4">Download</a></div>
            
            </div> -->
         
          
          <div class="row">
            <div class="col-md-4 offset-md-4">
                <form action="http://localhost:9000/download/" method="GET">
                    <div class="form-group">
                      <h5 class="audo">Audonic Song URL/Link:</h5>
                        <input class="form-control" type="text" name="url" placeholder="Enter URL Link...." required />
                        <p class="audo">Click on download.</p>
                    </div>
                    <div class="form-group text-center">
                        <input class="btn btn-primary" type="submit" value="Download" />
                    </div>
                </form>
            </div>
        </div>
        </div>
            
            </section1>

            
            
            


            <section2>
              <div class="container">
                <h2 class="hover-underline-animation">Audonic</h2>
                <p class="para1">Audoninc Downloader is a very advance and free tool that is used 
                  to download songs from Audoninc in MP3/MP4. Audoninc is a popular singing app 
                  and music community with 50M＋users globally. Audoninc helps people to showcase 
                  their singing talent on the platform. The app collaborates with various brands and 
                  recording artist to help users create and share their talent by making duet videos. 
                  But the Audoninc app do not allow anyone to download songs in your mobile or laptop 
                  or pc. So, this is a website by which you can solve the problem of downloading.

                  If you see a song on your Audoninc feed and you want to download that cover songs in your 
                  gallery, then Audoninc Downloader is the best choice for it. The most distinguish and 
                  fantastic feature of this website is this, that here you can also download the song 
                  in mp3 format. If you think this website is good then dont forget to share it with your
                   friends.
                  
                  </p>
                  
              
            </section2>




            <section3>
              
                <!-- <h1 class="head3">Frequently Asked Quetions</h1> -->
                <h1 align="center"><a href="#" class="effect-shine">Frequently Asked Quetions</a></h1>

                <div class="tute">
                <ol>
                  <li>
                    <p class="para2"><b>
                      <u>How does Audo Downloader downloads songs from Audonic?</u></b>
                    </p>
                    <p class="para3">When you enter the link/URL to download the song, Audonic downloader's 
                      server sends the request to Audonic and gets the Audonic page which 
                      has Audonic video in it. After that our Audonic video
                      downloader script looks for the video links and extracts the HD quality links in MP4 format or in mp3
                      format.</p>
                  </li>
                  <li>
                    <p class="para2"><b>
                      <u>What is the format of downloaded Audoninc song?</u></b>
                    </p>
                    <p class="para3">The format of the downloaded song will be MP3 or MP4 as per your choice.</p>
                  </li>
                  <li>
                    <p class="para2">
                      <b><u>In which format Audoninc videos gets downloaded?</u></b>
                    </p>
                    <p class="para3">Audoninc stores the videos in MP4 format, but the downloaded video can be in mp3 or mp4
                      format as per your wish.
                    </p>
                  </li>
                  <li>
                    <p class="para2">
                      <b><u>How do I download live Audoninc Videos?</u></b>
                    </p>
                    <p class="para3">To download any live Audoninc video, you must wait until the streaming is finished, and then
                      you can download them just like other videos by entering the video link in the online Audoninc video
                      downloader.</p>
                  </li>
                  <li>
                    <p class="para2">
                      <b><u>Where are my Audoninc videos getting saved after I download them?</u></b>
                    </p>
                    <p class="para3">When you use Audo Downloader, downloaded Audoninc songs are saved in "Downloads" folder
                      of your PC. And in mobile phones also they get saved in the download folder.</p>
                  </li>
                </ol>
              </div>
            </section3>

  
            <section4>
              <div class="row copy">
                <div class="col-lg-4">
                    <div class="alice">
                        <div class="icon">
                          <i class="fas fa-music"></i>
                        </div>
                        <h3>Free MP3 Download</h3>
                        <p class="lead mb-0">Unlimitedly free conversions and downloads.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="alice">
                        <div class="icon">
                            <i class="fas fa-layer-group"></i>
                        </div>
                        <h3>Most Websites Supported</h3>
                        <p class="lead mb-0">Wide range of online video/audio website supported.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="alice">
                        <div class="icon">
                        
                          <i class="fas fa-cloud-download-alt"></i>
                        </div>
                        <h3>Easy Download</h3>
                        <p class="lead mb-0">No registration required and no software installation necessary.</p>
                    </div>
                </div>
                </div>
             
            
            </section4>

          </div>
          
         
          


          <footer class="utter">
            <div class="container-fluid">
              <div class="foot">
                <h1 class="tacos">Audonic Video Downloader</h1>
                  <p class="anum">
                    <a href="https://StarMakerdownloader.tech">Starmakerdownloader.tech </a>© 2021. All Rights Reserved.
                  </p>
                  <p class="sea">Any Audoninc video you download is downloaded directly from Audoninc CDN. We do not host any copyright or
                    pirated video/content in our server. 
                  </p>
              
              </div>
            </div>
          </footer>



        
         



       
    </body>
</html>