




/* navbar start  */
.navbar-dark .navbar-brand {
  color: deepskyblue;
}

img.pic {
    width: 60%;
}


.text1 h2{
text-align: center;

font-size: 70px;
color: white;
}

.text1 h1{
  color: white;
  text-align: center;
  font-size: 70px;
  font-weight: 547;
  margin-top: 4%;
  
  
}
h5.audo {
  margin-left: 1%;
  color: white;
}
p.audo {
  margin-left: 1%;
  color: white;
}
input.btn.btn-primary {
  width: 50%;
  
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 2%;
  overflow: hidden;
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
}

li a:hover {
  text-decoration: none;
  color: #ff0000;
}

/* input.mono {
border: 2px solid rgb(255, 30, 30);
border-radius: 67px;
width: 70%;
height: 50px;
background-color: white;
}
.search {
margin-left: 20%;
color: white;

} */
/* nav end */


h2.text2 {
text-align: center;
margin-top: 5%;
font-size: 60px;
}

/* start underline */
.hover-underline-animation {
display: revert;
position: relative;
color: rgb(248, 8, 8);
}

.hover-underline-animation:after {
content: '';
position: absolute;
width: 100%;
transform: scaleX(0);
height: 2px;
bottom: 0;
left: 0;
background-color: rgb(248, 8, 8);
transform-origin: bottom;
transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
transform: scaleX(1);
transform-origin: bottom;
}
h2.hover-underline-animation {
text-align: center;
font-size: 60px;
margin-top: 5%;
}
/* End */

p.para1 {
text-align: justify;
margin-top: 3%;
}


.tute {
text-align: justify;
/* padding-right: 7%;
margin: 5%; */

}
.alice {

text-align: center;
}
.icon{
font-size: 7rem;
color: rgb(255, 30, 30);
}




/* STart Download button */

.gradient .btn{ 
color:#000;
border-radius:4px;
background-size: 200% auto;
box-shadow:0px 0px 15px 0 rgba(0,0,0,.1);
}
.gradient .btn:hover{
background-position: right center;
}


.gradient .btn-4{
background-image: linear-gradient(to right, #EAECC6 0%, #ff0000 50%, #eceed0 60%);
}

a.btn.btn-4 {
margin-left: 20%;
width: 30%;
height: 40px;
border-radius: 20px;
}
/* End button */


/* start faq  */
a.effect-shine:hover {
-webkit-mask-image: linear-gradient(-75deg, rgba(221, 55, 55, 0.6) 30%, rgb(230, 23, 23) 50%, rgba(231, 7, 7, 0.884) 70%);
-webkit-mask-size: 200%;
animation: shine 2s infinite;
text-decoration: none;
}

@-webkit-keyframes shine {
from {
-webkit-mask-position: 150%;
}

to {
-webkit-mask-position: -50%;
}
}

.h1 {
margin-top: 5%;
}
a.effect-shine {
font-size: 60px;
color: rgb(248, 8, 8);
}
.ol {
padding: 1%;
}

/* end */







/* Footer start */
.foot {
background-color: black;
}
h1.tacos {
text-align: center;
color: white;
font-size: xxx-large;
padding-top: 2%;
}
p.anum {
text-align: center;
color: white;
font-size: larger;
}
p.sea {
text-align: center;
font-size: larger;
color: white;
line-height: initial;
}
.foot {
padding: 5%;
}
footer.utter {
margin-top: 3%;
}
/* Footer End */





